# put this file to ~/.local/share/applications/
# update the Exec and Icon to the appropriate location
[Desktop Entry]
Version=1.0
Type=Application
Name=DevToolsPromax
Exec=/opt/DevToolsPromax/dev_tools_pro_max
Icon=/opt/DevToolsPromax/icons/icon.png
Comment=JsonUI
Categories=Development
Terminal=false
StartupNotify=true
StartupWMClass=com.example.dev_tools_pro_max
